body {
    /* background-color: black; */
    background-image: radial-gradient(white, whitesmoke, grey, black);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 40vw;
    border: 2px solid white;
    background-image: radial-gradient(white, dodgerblue, blue);
    /* background-color: dodgerblue; */
    box-sizing: border-box;
    margin-left: 400px;
    position: fixed;
    background-color: ;
}

.headcon {
    height: 100px;
    width: 40vw;
    border: 1px solid rgb(138, 55, 138);
    box-sizing: border-box;
    background-image: radial-gradient(grey, rgb(115, 168, 212), rgb(2, 82, 65));
    /* background-color: rgb(134, 54, 134); */
    top: 0;
    left: 0;
}

img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 30px;
    display: inline;
}

p {
    font-family: Georgia;
    color: white;
    font-size: 40px;
    display: inline;
    margin-bottom: 20px;
}

.namey {
    height: 60px;
    width: 40vw;
    border: none;
    /* border: 1px solid blue; /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 10px;
}

h3 {
    font-family: helvetica;
    font-size: 18px;
    color: crimson;
}

#nam {
    width: 300px;
    height: 20px;
    background-color: rgb(179, 235, 123);
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-top: 3px groove;
    border-radius: 20px;
    border-color: rgb(109, 180, 39);
    color: black;
}

input:focus {
    outline: none;
}


#dep {
    width: 200px;
    height: 20px;
    margin-top: 5px;
}

.line {
    height: 5px;
    width: 39.5vw;
    border: 1px solid rgb(12, 2, 12);
    background-color: rgb(22, 5, 22);
    margin-top: 10px;
    margin-bottom: 10px;
}

.subjects {
    height: 290px;
    width: 39.5vw;
    border: none solid lightblue;
    box-sizing: border-box;
    margin-bottom: 6px;
    background-image: radial-gradient(black, lightblue, blue);
    background-color: rgb(170, 150, 125);
}

.subs {
    font-family: Cochin;
    font-size: 25px;
    color: rgb(71, 7, 7);
    margin-right: 40px;
    margin-left: 70px;
    margin-top: 10px;
    padding: 20px;
}

#space1 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid fuchsia;
    padding: 10px;
}

#space2 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(173, 92, 173);
    padding: 10px;
    margin-left: 55px;
}

#space3 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(46, 8, 46);
    padding: 10px;
    margin-left: 55px;
}

#space4 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(46, 8, 46);
    padding: 10px;
    margin-left: 27px;
}

button {
    border: groove pink;
    height: 40px;
    width: 120px;
    color: black;
    font-family: serif;
    font-size: 18px;
    background-image: radial-gradient(white, lightpink, pink);
    border: none;
    border-radius: 20px;
    margin-left: 180px;
    padding: 10px;
}

button:hover {
    box-shadow: burlywood;
    color: palevioletred;
}

#comments {
    height: 135px;
    width: 39.5vw;
    font-family: Verdana;
    font-size: 15px;
    border: 1px solid white;
    background-image: radial-gradient(blue, lightblue, white, grey);
}

.total {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 12px;
    font-weight: bolder;
}

h6{
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
    margin-top: 5px;
}

#namecont {
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid lightskyblue;
}

#marks {
    width: 500px;
    border: none;
    border-bottom: 2px solid rgb(46, 8, 46);
    padding: 10px;
    margin-left: 15px;
}

#percent {
    width: 60px;
    border: none;
    border-radius: 10px;
    border-top: 2px groove darkmagenta;
    border-bottom: 2px solid rgb(46, 8, 46);
    padding: 10px;
    margin-left: 20px;
}