body {
    background: url(background3.jpeg);
    background-size: contain;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:1080px) {
    body {
        background: url(background3.jpeg);
        background-size: contain;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
@media (max-width:768px) {
    body {
        background: url(background3.jpeg);
        background-size: contain;
        /* height: 100vh;
        width: 100vw; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.container {
    height: 100vh;
    width: 40vw;
    border: 2px solid white;
    background: url(background3.jpeg);
    background-size: cover;
    box-sizing: border-box;
    margin-left: 400px;
    /* position: fixed; */
    box-sizing: border-box;
    box-shadow: 2px 4px 2px 4px rgba(128, 128, 128, 0.705);
}

@media (max-width:1080px) {
    .container {
        height: 100vh;
        width: 80vw;
        border: 2px solid white;
        background: url(background3.jpeg);
        background-size: cover;
        box-sizing: border-box;
        margin-left: 100px;
        position: absolute;
        box-sizing: border-box;
        box-shadow: 2px 4px 2px 4px rgba(128, 128, 128, 0.705);
    }
}
@media (max-width:768px) {
    .container {
        height: 170vh;
        width: 90vw;
        border: 2px solid white;
        background: url(background3.jpeg);
        background-size: cover;
        box-sizing: border-box;
        margin-left: 20px;
        position: absolute;
        box-sizing: border-box;
        box-shadow: 2px 4px 2px 4px rgba(128, 128, 128, 0.705);
    }
}

.headcon {
    height: 90px;
    width: 40vw;
    border: 4px groove rgb(80, 78, 80);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

@media (max-width:1080px) {
    .headcon {
        height: 120px;
        width: 80vw;
        border: 4px groove rgb(80, 78, 80);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-sizing: border-box;
        top: 5%;
        left: 0;
    }
}
@media (max-width:768px) {
    .headcon {
        height: 100px;
        width: 90vw;
        border: 4px groove rgb(80, 78, 80);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-sizing: border-box;
        top: 4%;
        left: 0;
        justify-content: center;
    }
}

img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 30px;
    display: inline;
}

@media (max-width:1080px) {
    img{
        height: 70px;
        width: 70px;
        margin-top: 20px;
        margin-left: 50px;
        display: inline;
    }
}
@media (max-width:768px) {
    img{
        height: 50px;
        width: 50px;
        margin-top: 15px;
        margin-left: 20px;
        display: inline;
    }
}

.report {
    font-family: Georgia;
    color: gray;
    font-size: 40px;
    font-weight: 600;
    display: inline;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 25px;
}

@media (max-width:1080px) {
    .report {
        font-family: Georgia;
        color: rgb(63, 62, 62);
        font-size: 45px;
        font-weight: 800;
        display: inline;
        margin-bottom: 20px;
        margin-top: -30px;
        text-align: center;
        margin-left: 85px;
    }
}
@media (max-width:768px) {
    .report {
        font-family: Georgia;
        color: rgb(63, 61, 61);
        font-size: 28px;
        font-weight: 700;
        display: inline;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 25px;
    }
}

p {
    font-family: Georgia;
    color: gray;
    font-size: 40px;
    font-weight: 600;
    display: inline;
    margin-bottom: 20px;
}

@media (max-width:1080px) {
    p {
        font-family: Georgia;
        color: gray;
        font-size: 40px;
        font-weight: 600;
        display: inline;
        margin-bottom: 20px;
    }
}
@media (max-width:768px) {
    p {
        font-family: Georgia;
        color: gray;
        font-size: 40px;
        font-weight: 600;
        display: inline;
        margin-bottom: 20px;
    }
}

.namey {
    height: 60px;
    width: 40vw;
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 10px;
}

@media (max-width:1080px) {
    .namey {
        height: 60px;
        width: 80vw;
        border: none;
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
        margin-top: 20px;
    }
}
@media (max-width:768px) {
    .namey {
        height: 60px;
        width: 90vw;
        border: none;
        display: flex;
        flex-wrap: wrap;
        /* padding: 2px; */
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

h3 {
    font-family: helvetica;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

@media (max-width:1080px) {
    h3 {
        font-family: helvetica;
        font-size: 30px;
        font-weight: 700;
        color: black;
    }
}
@media (max-width:768px) {
    h3 {
        font-family: helvetica;
        font-size: 28px;
        font-weight: 700;
        color: black;
        margin-top: -20px;
        margin-left: 20px;
    }
}

#nam {
    width: 300px;
    height: 35px;
    margin-top: 7px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-top: 3px groove;
    border-radius: 20px;
    border-color: rgba(85, 107, 63, 0.836);
    color: black;
}

@media (max-width:1080px) {
    #nam {
        width: 450px;
        height: 47px;
        margin-top: 14px;
        margin-left: 10px;
        margin-bottom: 40px;
        padding: 3px;
        border: none;
        border-top: 3px groove;
        border-radius: 20px;
        border-color: rgba(85, 107, 63, 0.836);
        color: black;
    }
}
@media (max-width:768px) {
    #nam {
        width: 280px;
        height: 32px;
        margin-top: -12px;
        margin-left: 25px;
        padding: 3px;
        border: none;
        border-top: 3px groove;
        border-radius: 15px;
        border-color: rgba(85, 107, 63, 0.836);
        color: black;
        margin-bottom: 20px;
        background-color: rgba(70, 67, 67, 0.397);
    }
}

input:focus {
    outline: none;
}

@media (max-width:1080px) {
}
@media (max-width:768px) {
}

#dep {
    width: 200px;
    height: 20px;
    margin-top: 5px;
}

@media (max-width:1080px) {
    #dep {
        width: 200px;
        height: 20px;
        margin-top: 6px;
    }
}
@media (max-width:768px) {
    #dep {
        width: 200px;
        height: 20px;
        margin-top: 7px;
    }
}

.line {
    height: 5px;
    width: 39.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:1080px) {
    .line {
        height: 16px;
        width: 80vw;
        margin-top: 12px;
        margin-bottom: 22px;
    }
}
@media (max-width:768px) {
    .line {
        height: 0;
        width: 89vw;
        border: 2px groove rgba(255, 255, 255, 0.507);
        margin-top: -22px;
        margin-bottom: 15px;
    }
}

.subjects {
    height: 290px;
    width: 39.5vw;
    border: none solid lightblue;
    box-sizing: border-box;
    margin-bottom: 6px;
}

@media (max-width:1080px) {
    .subjects {
        height: 350px;
        width: 80vw;
        border: none solid lightblue;
        box-sizing: border-box;
        margin-bottom: 8px;
        margin-top: 8px;
    }
}
@media (max-width:768px) {
    .subjects {
        /* height: 390px; */
        width: 90vw;
        border: none solid lightblue;
        box-sizing: border-box;
        margin-bottom: 10px;
        margin-top: -5px;
    }
}

.subs {
    font-family: Cochin;
    font-size: 25px;
    font-weight: 700;
    color: rgb(92, 19, 19);
    margin-right: 40px;
    margin-left: 60px;
    margin-top: 10px;
    padding: 20px;
}

@media (max-width:1080px) {
    .subs {
        font-family: Cochin;
        font-size: 50px;
        font-weight: 700;
        color: rgb(92, 19, 19);
        margin-right: 40px;
        margin-left: 10px;
        margin-top: 20px;
        padding: 20px;
        margin-bottom: 8px;
    }
}
@media (max-width:768px) {
    .subs {
        font-family: Cochin;
        font-size: 30px;
        font-weight: 700;
        color: rgb(92, 19, 19);
        margin-right: 40px;
        margin-left: 20px;
        margin-top: 220px;
        padding: 20px;
        margin-bottom: -10px;
    }
}

#space1 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid fuchsia;
    padding: 10px;
    text-align: center;
}

@media (max-width:1080px) {
    #space1 {
        width: 100px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid fuchsia;
        padding: 12px;
        text-align: center;
    }
}
@media (max-width:768px) {
    #space1 {
        width: 80px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid fuchsia;
        padding: 15px;
        text-align: center;
        margin-top: 30px;
        margin-left: 130px;
    }
}

#space2 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(173, 92, 173);
    padding: 10px;
    margin-left: 77px;
    text-align: center;
}

@media (max-width:1080px) {
    #space2 {
        width: 100px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid rgb(173, 92, 173);
        padding: 12px;
        margin-left: 149px;
        text-align: center;
    }
}
@media (max-width:768px) {
    #space2 {
        width: 80px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid rgb(173, 92, 173);
        padding: 15px;
        margin-left: 130px;
        text-align: center;
        margin-top: 30px;
    }
}

#space3 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(46, 8, 46);
    padding: 10px;
    margin-left: 84px;
    text-align: center;
}

@media (max-width:1080px) {
    #space3 {
        width: 100px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid rgb(46, 8, 46);
        padding: 12px;
        margin-left: 164px;
        text-align: center;
    }
}
@media (max-width:768px) {
    #space3 {
        width: 80px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid rgb(46, 8, 46);
        padding: 15px;
        margin-left: 135px;
        text-align: center;
        margin-top: 30px;
    }
}

#space4 {
    width: 90px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(46, 8, 46);
    padding: 10px;
    margin-left: 44px;
    text-align: center;
}

@media (max-width:1080px) {
    #space4 {
        width: 100px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid rgb(46, 8, 46);
        padding: 12px;
        margin-left: 78px;
        text-align: center;
    }
    
}
@media (max-width:768px) {
    #space4 {
        width: 80px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid rgb(46, 8, 46);
        padding: 15px;
        margin-left: 130px;
        text-align: center;
        margin-top: 30px;
    }
    
}

button {
    border: groove pink;
    height: 40px;
    width: 120px;
    color: black;
    font-family: serif;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin-left: 180px;
    padding: 10px;
}

@media (max-width:1080px) {
    button {
        border: groove pink;
        height: 60px;
        width: 160px;
        color: black;
        font-family: serif;
        font-size: 20px;
        font-weight: 800;
        border: none;
        border-radius: 20px;
        margin-left: 320px;
        margin-top: 60px;
        padding: 15px;
    }
}
@media (max-width:768px) {
    button {
        border: groove pink;
        height: 50px;
        width: 140px;
        color: black;
        font-family: serif;
        font-size: 25px;
        font-weight: 800;
        border: none;
        border-radius: 20px;
        margin-left: 100px;
        padding: 16px;
        margin-top: 30px;
        background-color: rgba(0, 0, 0, 0.37);
    }
}

button:hover {
    box-shadow: burlywood;
    color: palevioletred;
    background-color: black;
}

#comments {
    height: 130px;
    width: 39.5vw;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 900;
    border: none groove white;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
    box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.377);
}

@media (max-width:1080px) {
    #comments {
        height: 195px;
        width: 79vw;
        font-family: Verdana;
        font-size: 28px;
        font-weight: 900;
        border: none groove white;
        color: black;
        padding-top: 20px;
        padding-left: 10px;
        margin-top: 180px;
        box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.377);
    }
}
@media (max-width:768px) {
    #comments {
        height: 200px;
        width: 89vw;
        font-family: Verdana;
        font-size: 25px;
        font-weight: 900;
        border: 2px groove white;
        color: black;
        padding-top: 20px;
        padding-left: 5px;
        margin-top: 320px;
        margin-left: -2px;
        box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.377);
    }
}

